
/* EFF colors */
$dark-blue: #254B66;
$eff-red: #CC0000;
$dark-red: #9b0505;
//$gray: #888888;
$black: #000000;

/* EFF fonts */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../fonts/Montserrat-Light.ttf") format("truetype");
}

$default-font-size: 16px;
$sans-serif: "Montserrat";

body {
  background: #FFF;
  width: 100%;
  line-height: 1.5em;
  font-family: $sans-serif;
  color: $black;
  padding-bottom: 0;
}

/* Modal content */
.modal-content {
  //background: $gray;
  .modal-header {
    border: none;
    padding: 0;
  }
  /* buttons */
  .close {
    margin: 1rem 1.5rem 0 0;
  }
  .fake {
    display: block;
  }
  .real {
    display: none;
  }
  #frame1 {
    visibility: visible;
    display:block;
  }

  #frame2 {
    display:none;
  }

  #frame1,
  #frame2 {
    font-family: $sans-serif;
    padding: 2rem;
    p {
      color:$black;
      font-family: $sans-serif;
    }

    p {
      color:$black;
      font-family: $sans-serif;
    }
    .button-container{
      text-align: center;
      margin: 0 auto;
      .eff-button {
        background: $eff-red;
        border: none;
        border-bottom: 0.3rem solid $dark-red;
        color: #fff;
        font-family: $sans-serif;
        font-size: 1.1rem;
        font-weight: 700;
        padding: 0.3rem 2rem;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;

        &:link, &:visited {
          color: #ffffff;
        }

        &:hover {
          background: rgba($eff-red, 0.8) !important;
        }
      }
      .button-text {
        font-family: $sans-serif;
        font-size: 1rem;
        color: $dark-blue;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}
