
/* EFF colors */
$dark-blue: #254B66;
$eff-red: #CC0000;
$dark-red: #9b0505;
//$gray: #888888;
$black: #000000;

/* EFF fonts */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../fonts/Montserrat-Light.ttf") format("truetype");
}

$default-font-size: 16px;
$sans-serif: "Montserrat";

body {
  font-family: $sans-serif;
  color: $black;
}

/* Modal content */
.modal-content {
  .modal-header {
    border: none;
    padding: 0;
  }
  /* buttons */
  .close {
    margin: 1rem 1.5rem 0 0;
  }
  .fake {
    display: block;
  }
  .real {
    display: none;
  }
  #frame1 {
    font-size: 2rem;
    line-height: 2.5rem;
    visibility: visible;
    display:block;
  }

  #frame2 {
    display:none;
    p {
      font-size: 1.5rem;
      span {
        font-size: 3rem;
        font-weight: 900;
      }
    }
  }

  #frame1,
  #frame2 {
    font-family: $sans-serif;
    padding: 2rem;
    p {
      color:$black;
      font-family: $sans-serif;
    }
    p.atnt,
    p.eff-logo {
      padding-bottom:2rem;
      text-align: center;
      img {
        height: auto;
        width:250px;
      }
    }
    p.eff-logo img{
      width:150px
    }
    .button-container{
      text-align: center;
      margin: 3rem auto 0;
      .eff-button {
        background: $eff-red;
        border: none;
        border-bottom: 0.3rem solid $dark-red;
        color: #fff;
        font-size: 2rem;
        font-weight: 700;
        padding: 0.3rem 2rem;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;

        &:link, &:visited {
          color: #ffffff;
        }
        @media screen and (max-width: 400px) {
          .eff-button{
            font-size:1.3rem;
          }
        }

        &:hover {
          background: rgba($eff-red, 0.8) !important;
        }
      }
      .button-text {
        font-family: $sans-serif;
        font-size: 1.5rem;
        color: $dark-blue;
        font-weight: 700;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}
